@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Kodchasan");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:800i&subset=cyrillic");

.header {
    background-image: url("./img/header_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    height: 100vh;
}

.header .logo {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 44px;
}

.header p {
    font-size: 30px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    text-align: center;
    margin-bottom: 20px;
}

.header .header_icons {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 35%;
    margin: auto;
}

.header .header_icon {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 148px;
    padding: 13px;
}

.header .header_icon:hover {
    background-image: url("./img/header_icon-active.png");
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-transition: 4s;
    transition: 4s;
    cursor: pointer;
}

.header .header_icon p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13.99px;
    font-weight: 900;
    line-height: 25px;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 5px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #141414;
    font-weight: 900;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #141414;
    font-size: 35.97px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.075em;
}

button {
    width: 408px;
    height: 85px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#de6262), to(#ffb88c));
    background-image: linear-gradient(0deg, #de6262 0%, #ffb88c 100%);
    -webkit-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 41.0px;
    color: #f7f7f7;
    font-size: 21px;
    font-weight: 700;
    line-height: 22px;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #ce2029;
    background-image: none;
}